* {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

h1{
    font-size: 36px;
    font-weight: 700;
}

.bookmark-button, input[type="submit"]{
	text-transform: uppercase;
	background-color: $secondary-color;
	border: none;
	font-weight: bold;
	color: white !important;
	border-radius: 4px;
	padding: 4px 9px;
}